IntegracionHotel-ejb/src/wsdl/localhost_8082/ServicioWebHotel/ServicioWebHotel.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.mycompany.com/">

<xs:element name="consultaDisponibilidadDeHabitaciones" type="tns:consultaDisponibilidadDeHabitaciones"/>

<xs:element name="consultaDisponibilidadDeHabitacionesResponse" type="tns:consultaDisponibilidadDeHabitacionesResponse"/>

<xs:element name="reservaHabitacionHotel" type="tns:reservaHabitacionHotel"/>

<xs:element name="reservaHabitacionHotelResponse" type="tns:reservaHabitacionHotelResponse"/>

<xs:complexType name="reservaHabitacionHotel">
<xs:sequence>
<xs:element name="fechaEntrada" type="xs:string" minOccurs="0"/>
<xs:element name="fechaSalida" type="xs:string" minOccurs="0"/>
<xs:element name="total_personas" type="xs:int" minOccurs="0"/>
<xs:element name="desayuno" type="xs:boolean" minOccurs="0"/>
<xs:element name="precio" type="xs:decimal" minOccurs="0"/>
<xs:element name="codigoHabitacion" type="xs:int" minOccurs="0"/>
<xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
<xs:element name="cedulaCliente" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservaHabitacionHotelResponse">
<xs:sequence>
<xs:element name="return" type="tns:respReserva" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="respReserva">
<xs:sequence>
<xs:element name="codigoReserva" type="xs:int" minOccurs="0"/>
<xs:element name="estado" type="xs:boolean" minOccurs="0"/>
<xs:element name="mensajeError" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDisponibilidadDeHabitaciones">
<xs:sequence>
<xs:element name="fechaEntrada" type="xs:string" minOccurs="0"/>
<xs:element name="fechaSalida" type="xs:string" minOccurs="0"/>
<xs:element name="totalPersonas" type="xs:int" minOccurs="0"/>
<xs:element name="incluyeDesayuno" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDisponibilidadDeHabitacionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:respDisponibilidad" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="respDisponibilidad">
<xs:sequence>
<xs:element name="codigo" type="xs:int" minOccurs="0"/>
<xs:element name="precio" type="xs:decimal" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>